.Bed{
    padding-top:10vh ;
    text-align: center;
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.a11{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   color: #000000;
   font-style: oblique;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
   font-size: medium;
   font-variant: small-caps;
   padding: 8px 22px;
   border-radius: 6px;
   background: #00bfff;
   transition: all 0.2s ease;
   border-color: rgb(0, 0, 0) !important;
  }

    .a11:active{
        transform: scale(0.96);
    }

    .a11:hover{
        transform: scale(1.2);
    }

    .as{
        background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}